@import 'variables';
@import 'text.scss';

body,html {
  background: #000;
}

.header {
  background: #000;
  padding: 14px 0;
  .nav {
    li {
      list-style-type: none;
    }
  }
}

.logo {
  display: block;
  background: url("img/hero-logo.svg") left center no-repeat;
  width: 200px;
  height: 50px;
}

.hero {
  background: url("/img/header-bg.jpg") left center no-repeat fixed;
  background-size: cover;
  padding-bottom: 35px;
  .hero-nav {
    padding: 15px 0;
    .nav {
      .nav-item {
        font-family: "roc-grotesk", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 30px 0;
        font-size: 20px;
        a {
          text-decoration: none;
          color: $white-color;
          text-transform: uppercase;
        }
      }
    }
  }
  .hero-content {
    color: $white-color;
    padding: 50px 0;
    .sub-heading {
      font-size: 20px;
      font-weight: 500;
    }
    h1 {
      font-family: "roc-grotesk-wide", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 80px;
      line-height: 65px;
      margin: 0;
      padding: 0;
    }
  }
}

.floating-arrow-button {
  left: 49% !important;
  background: url("img/arrow.svg") center center no-repeat;
  width: 75px;
  height: 75px;
}

.section-about {
  .video-bg {
    background-image:url('img/video-bg.jpg');
    //background-repeat:no-repeat;
    //background-size:contain;
    //background-position:center;

    background-position: center center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: contain;
    background-color: transparent;
  }
  .video-container {
    display: table;
    height: 100%;
    width: 100%;
    .play-btn {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0;
      margin: 0;
      border: none;
      //width: 50%;
      //height: 50%;
      //color: $white-color;
      color: rgba(255,255,255, 0.5);
      font-size: 60px;
      &:hover {
        color: $red-color;
      }
    }
  }

}

.section-phases {
  background-image:url('img/phases-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;

  /* CSS for Desktop View */
  .logo-grid img {
    margin: 15px 0;
  }

  /* CSS for Desktop View */
  .logo-grid img:not(.img-fluid) {
    width: 100%;
  }

  /* Responsive CSS */
  .logo-grid {
    width: 100%;
    margin: 0 auto;
  }

  .logo-grid img {
    width: 100%;
  }
}

.eagle-bg {
  background: url("img/eagle-gold-bg.png") top right no-repeat;
}


.section-nfl {
  padding-bottom: 75px;
  background-image: url('img/nfl-bg.jpg');
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
  .carousel-item {
    small {
      background: rgba(255,255,255, 0.6);
      width: 100%;
      color: #000;
      text-align: center;
      font-size: 30px;
    }
  }
}

.section-military {
  background-image: url('img/military-bg.jpg');
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
  .container {
    border: 2px solid $red-color;
  }
}

.section-reviews {
  padding: 100px 0;
  .review-author {
    font-weight: bolder;
  }
}

.section-footer-cta {
  padding: 20px 0;
  vertical-align: middle;
  p {
    font-weight: bolder;
    span {
      display: inline-block;
      font-size: 24px;
      line-height: 30px;
    }
  }
}


:root {
  --star-size: 60px;
  --star-color: #ccc;
  --star-background: #b2a26d;
}

.star-container {
  .stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;

    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.section-footer-pics {
  display: block;
  height: 150px;
  background: #fff;
  background: url("img/pics.jpg") top center repeat-x ;
  background-size: 50% auto;
}


.section-footer {
  background: #000;
  color: #fff;
  padding: 100px 0;


.social-nav {
  padding: 0;
  display: flex;
  margin-left: 150px;
}

  .nav-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
  }
  .footer-nav {
    margin: 25px 0 0 0;
    padding: 0;
    li {
      font-family: "roc-grotesk", sans-serif;
      font-style: normal;
      list-style-type: none;
      font-size: 20px;
      a {
        text-decoration: none;
        color: $white-color;
      }
    }
  }
  .copy {
    margin: 100px 0 0 0;
    .nfl {
      .nfl-logo {
        height: 30px;
        margin-right: 10px;
      }
      font-size: 12px;
    }
  }
}
