.gold-color {
  color: #b2a26d !important;
}

.white-color {
  color: #fff !important;
}

.red-color {
  color: #bd1b15 !important;
}

.bg-red-color {
  background-color: #bd1b15 !important;
}

.bg-gold-color {
  background-color: #b2a26d !important;
}

.section-heading {
  font-family: "roc-grotesk-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=text.css.map */
