@import "variables";


.section-heading {
  font-family: "roc-grotesk-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: $white-color;
}

.section-pt {
  padding-top: 75px;
}

.section-text {
  font-size: 20px;
}


.ps-6 {
  padding-left: 6rem !important;
}

.pe-6 {
  padding-right: 6rem !important;
}
