$gold-color: #b2a26d;
$red-color: #bd1b15;
$white-color: #fff;

.gold-color {
  color: $gold-color !important;
}

.white-color {
  color: $white-color !important;
}

.red-color {
  color: $red-color !important;
}

.bg-red-color {
  background-color: $red-color !important;
}
.bg-gold-color {
  background-color: $gold-color !important;
}
